@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:wght@100;400&family=Ubuntu+Condensed&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(243, 253, 232);
    padding: 2rem;
    text-align: center;
    height: 100vh;
    border: solid 2px rgb(168, 223, 142);
}

.logo {
    font-family: 'Lemon', sans-serif;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
